services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: tracker
      POSTGRES_USER: tracker
      POSTGRES_PASSWORD: tracker
    ports:
      - "5432:5432"
    volumes:
      - tracker_pg_data:/var/lib/postgresql/data

volumes:
  tracker_pg_data:


