server:
  port: 8080

spring:
  application:
    name: tracker
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/tracker}
    username: ${SPRING_DATASOURCE_USERNAME:tracker}
    password: ${SPRING_DATASOURCE_PASSWORD:tracker}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration


